[Unit]
Description=Legacy Phoniebox Runtime Tick Timer

[Timer]
OnBootSec=30s
OnUnitActiveSec=1d
AccuracySec=1s
Unit=phoniebox-runtime-tick.service

[Install]
WantedBy=timers.target
