[Unit]
Description=Phoniebox Audio Init
After=sound.target
Wants=sound.target
ConditionPathExists=/usr/local/bin/phoniebox-set-startup-volume.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/phoniebox-set-startup-volume.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
