[Unit]
Description=Phoniebox Panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/phoniebox-panel
ExecStart=/usr/bin/python3 /opt/phoniebox-panel/app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
